header{ 
	background-image: url(images/pizza.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 350px; 
}

nav{
	background-color: #9eb8e2;
}

nav .row .col:hover{
	background-color: #dfceef;
}

img{width: 100%}

a:link{
	color: black;
}

.web{
	padding-top: 100px;
	padding-left: 120px;
}

.img{padding-top: 40px;
	padding-right: 120px;
	height: 50px;
	border-radius: 20px;
	}

.projects{
	padding-left: 500px;
text-decoration: underline;}
.projectext{
	padding-left: 500px;
	}

.name{
	color: white;
}
.aboutme{
	text-decoration: underline;
}
.contacts{
	text-decoration: underline;
}

.projectstext{
	background-color: #9eb8e2;
}
.contacts{
	padding-left: 1000px;
}
.contactstext{
	padding-left: 1000px;
}